@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
section {
  padding-top: 3rem;
  min-height: 80vh;
}
p {
  margin: 0;
}
svg {
  display: block;
}

input[type="text"],
input[type="email"] {
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 4px;
  height: 2.75rem;
  padding: 6px 12px;
  font-size: 0.95rem;
  background-color: black;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 1px solid rgb(255, 255, 255);
}
textarea {
  border: 1px solid rgb(163, 163, 163);
  font-size: 0.95rem;
  flex-grow: 1;
  background-color: black;

  resize: none;
  padding: 10px 12px;
  border-radius: 4px;
}

.loader {
  width: 32px;
  height: 32px;
  border: 5px dotted #222222;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.none {
  display: none;
}
form[disabled] p {
  background-color: #3498db;
}
form[disabled] p:hover {
  background-color: #3cb1ff;
}
