.container {
  min-height: 100vh;
}
.nav {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  color: #eeeeee;
  z-index: 1;
}
.navBox {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}
.ul {
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
}
.ul li {
  cursor: pointer;
  user-select: none;
  margin-top: 0.5rem;
}
.white {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto 0;
  font-size: 1.5rem;
  color: #eeeeee;
}
.white p {
  margin-top: 0.5rem;
}
.hero {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url(../public/images/hero.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    filter: brightness(30%);
  }
  to {
    filter: brightness(60%);
  }
}

.heroFilter {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: 100vh;
  color: #eeeeee;
}

.home h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0;
}
.home h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 0;
  margin-top: -0.5rem;
}
.skills {
  background-image: linear-gradient(180deg, #222221, #0a0a0a);
}

.sectionTittle {
  color: #eeeeee;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.sectionTittle::after {
  content: "";
  position: absolute;
  display: block;
  width: 10rem;
  height: 3px;
  background: white;
  bottom: 0;
  left: 0;
}
.margin {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
.grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 2rem;
  margin: 3rem 0;
}
.skillBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skillBox p {
  margin: 0;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: #eeeeee;
}
.skillBox:hover {
  transform: scale(1.1);
}
.about {
  width: 50%;
  color: #eeeeee;
  font-weight: 600;
  font-size: 1.3rem;
}
.aboutBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar {
  margin-left: 5rem;
  margin-bottom: 3rem;
  width: 320px;
  height: 320px;
  object-fit: cover;
  background-size: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.projects {
  background-color: #0a0a0a;
}
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  row-gap: 4rem;
  column-gap: 4rem;
  margin: 3rem 0;
}
.projectBox {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 25rem;
  background-color: rgb(36, 36, 35);
}

.projectBox p {
  margin: 0;
}
.projectTittle {
  font-size: 1.1rem;
  font-weight: 600;
  color: #eeeeee;
}
.projectText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.projectBox img {
  display: block;
  height: calc(100% - 12.5rem);
  width: 100%;
  object-fit: cover;
}
.projectInfo {
  color: #c5c5c5;
}

.stackUsedBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.6rem;
  min-height: 50px;
}
.stackUsedBox p {
  height: 24px;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 0.2rem;
  color: black;
  background-color: rgb(255, 255, 255);
  display: inline;
}
.logo {
  height: 48px;
  object-fit: contain;
  width: auto;
}

.projectImageContainer {
  position: relative;
  height: 200px;
}
.projectImageContainer img {
  height: 100%;
}
.projectImageContainer:hover .projectIconContainer {
  display: flex;
}
.projectIconContainer {
  gap: 1.75rem;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
}
.projectIcon {
  cursor: pointer;
  transition: 0.3s;
}
.projectIcon:hover {
  transform: scale(1.1);
}
.projectIcon:first-of-type:hover path {
  stroke: #405791;
}
.projectIcon:hover:nth-of-type(2) path {
  fill: #405791;
}
.footer {
  gap: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222221;
  color: white;
}
.footer p:first-of-type {
  font-size: 2.1rem;
  font-weight: 700;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer ul li {
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  transition: 0.3s;
}
.footer ul li:hover {
  transform: scale(1.2);
}
.footer ul li:nth-of-type(2) {
  background-color: transparent;
}
.footer ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact {
  padding-bottom: 5rem;
  min-height: 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
  background-color: #0a0a0a;
}

.contact > .margin > div > div {
  margin-bottom: 2rem;
  gap: 3rem;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
.contact > .margin > div > div > div {
  gap: 1rem;
  align-items: left;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}
.contact > .margin > div > div > div > div:nth-of-type(1) {
  height: 64px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact h4 {
  font-size: 1.6rem;
}
.contactBox {
  margin-top: 3rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.contactBox form {
  margin-top: 2rem;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contactBox form > div {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.contactBox button {
  margin: 0 auto;
  height: 44px;
  width: 12rem;
  color: black;
  background-color: white;
  outline: none;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}
.contactBox button:hover {
  transform: scale(1.1);
}
.contactBox form > div > input {
  width: 50%;
}
